.navbar {
    height: 40px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    color: #000000;
}

.navbar .links {
    display: flex;
    gap: 15px;
}

.navbar .links a {
    text-decoration: none;
    color: #000000;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
}

.navbar .links .active-link {
    border-bottom: 2px solid #E16259;
}

/* code to make website responsive */

@media screen and (max-width: 440px) {
    .navbar {
        flex-direction: column;
        gap: 11px;
        margin-bottom: 40px;
    }
}